<configuration>
    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
    </configSections>
    <appSettings>
        <add key="defaultIDCardReaderType" value="DK_T10" />
        <add key="defaultRetryTimes" value="1" />
    </appSettings>
    <dataConfiguration defaultDatabase="HSDB" />
    <connectionStrings>
        <add name="HSDB" connectionString="Data Source=172.20.0.117;Initial Catalog=DxcHs;User ID=dxcmz_mg;Password=dxcmz_mg;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
