<configuration>
    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
   </configSections>
    <dataConfiguration configProtectionProvider="DataProtectionConfigurationProvider">
        <EncryptedData>
            <CipherData>
                <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAzN1troq+j0OkShf1pm0gLgQAAAACAAAAAAAQZgAAAAEAACAAAACA22S6eO21XYokF2y/SPNxyJOyIv+OPVyI8DxoBp9WQQAAAAAOgAAAAAIAACAAAADmw5VWL/KzJCA2+EW6TLW2VNG00fLfk2PNRDrRwlHTv2AAAADgHK796bhWoJw4uK+7dhggJ5W1t7uyQog33iygD4/RNgvnHUIVJYYOhdmOqfY6J46rJcBUuEPYZpOkcZkPUmue++lrfFBV7qC+b5MsgV32PNaAzy8eBRJhMlluvVPWklxAAAAAXbJaWCR74VDIf71qXYHB0qKbpPlQSTySTVtY79Ge+BC9CB+4IRsOvPW0wisXJBiXlknffA6w+SnbScByAwm3tg==</CipherValue>
            </CipherData>
        </EncryptedData>
    </dataConfiguration>
    <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
        <EncryptedData>
            <CipherData>
                <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAzN1troq+j0OkShf1pm0gLgQAAAACAAAAAAAQZgAAAAEAACAAAADnPxcqGOEbYIfcEWwpngHUyPUK1d+HXgvcCffMpy+VFQAAAAAOgAAAAAIAACAAAAAYvWxmr3ntAMQu/CEKY7UlcRvkrqwCP9cIEshXNcKOr5ABAAC/f0LT7v8IjTYowh9MPJtqeOzJDLj0l1XxzUIzEidwFXUgFa3385E9qK1/tQLdGokgsk1+5WmUB/5/OJBPOcYPMCKGaRZ8thWG7zrUNzJjKDN3hiN+bQRv9IxVnU+VgBebt9IrdquI7tOzTElkXiE3AS9FMdxQpjG6e4e+On6PKSW51nitxDYZq2PRay37MbOBrpfryr00BHlErfoPwS0DwpPwFDGHuf9PkWDbIn+lamsLclkfZVlvySol8XUsMi1HBKasj82uj9ODKrbmYBDzViy2FiZYwPYoVgcqF6A2WcIeQJHKjrZwFxdvJx8rhjrdfR8xqrBrTA9mO/P5I/pBiutPCEns8y5tpOITl8l8WEgSqtQzH0KJ1rJaSh3No0U/8AwVAPlvSELTvmtnEhh8oPL7zAXMSlcQ/1XFZ0FDR0I7gX1UFNLRi2vCsVS6aG6CEWMyN4Zm4TR2EzpzwMIwfRC3PMal/OEsFFMY1q/SoOQm+IxAeaq5ODA/t+a1m+bAKW7h2XO7EJEcd/n5iTjWQAAAAEu4I2ufGIBLiOKUsskvBS6IW/HFc6fxGcUFdlNhNcT0I2eKu1aPiO7rO6Iwg7GBcdATS3ognGeun1G3PUU0McM=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
    <appSettings>
        <add key="defaultEntityCertificateReaderType" value="YBK" />
        <add key="defaultIDCardReaderType" value="DK_T10" />
        <add key="defaultElectronicCertificateReaderType" value="YKM" />
        <add key="defaultGovernmentCertificateUriString" value="http://113.207.106.82:30020/hic-coronavirus/" />
        <add key="defaultDataBaseServiceType" value="Native" />
    </appSettings>
</configuration>
